@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Парсинг сайтов</title>
    </head>
<body>
    <h3><b><u>Выберите действие:</u></b></h3>
    <div class="well">
        <ul>
            <li><p><a href="/Home/Parse"><u>Парсинг</u></a></p></li>
            <li><p><a href="/Home/Display"><u>История запросов</u></a></p></li>
        </ul>
    </div>
</body>
</html>