
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Парсинг</h2>

<legend>Названия сайтов вводить без www (пример: vk.com) </legend>

<form method="post">
    <p>Сайт</p>
    <input type="text" name="siteName" placeholder="simbirsoft.com" size="24" />
    <input type="submit" value="Выполнить" />

</form>

